/* src/App.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
   margin-left:16%;
   margin-top: 4%;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    color: #5D7285;
}

h1 {
    color: #333;
    text-align: center;
}

h2 {
    color: #333;
    text-align: center;
}



.sidebar {
    width: 15%; /* Điều chỉnh độ rộng phù hợp */
    height: 100vh; /* Chiếm toàn bộ chiều cao */
    position: fixed; /* Giữ sidebar cố định */
    top: 0;
    left: 0;
    background-color: white;
    padding: 10px 0px;
    border-radius: 7px;
}

.main-content {
    margin-left: 15%; /* Đẩy nội dung sang phải để tránh sidebar */
    margin-top: 60px; /* Để không bị Navbar che mất */
    padding: 10px;
    border-radius: 7px;
}



    .sidebar ul {
        list-style: none;
        padding: 0px 0px;
    }

    .sidebar .logo {
        width: 80%; 
        margin: 20px auto; 
        display: block;
    }


.sidebar ul li {
    padding: 16px 10px;
    cursor: pointer;
    color: #5D7285;
    font-style:revert-layer;
    font-family:'Segoe UI';
}

            .sidebar ul li:hover {
                background: #bbcfe3;
            }

.content {
    margin-left: 15%;
    margin-top: 2%;
    padding: 20px;
}

/* NAV BAR*/
/* Navbar.css */
.navbar {
    position: fixed;
    top: 0;
    left: 229px; /* Để tránh bị sidebar che mất */
    width: calc(100% - 250px); /* Để vừa với phần còn lại */
    height: 50px;
    background-color: #617BAD;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    padding: 0 20px;
    z-index: 1000; /* Đảm bảo Navbar luôn nổi trên */
    border-radius: 3px;
}


.navbar-left {
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    margin-right: 20px;
}

.search-box {
    display: block;
    align-items: center;
    background: white;
    border-radius: 20px;
    padding: 5px 70px;
    margin-left: 550px;
}

.search-icon {
    color: gray;
    margin-right: 5px;
}

.search-box input {
    border: none;
    outline: none;
    width: 250px;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 15px;
    cursor: pointer;
}

.user-info {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
