.navbar {
    width: 100%;
    height: 60px;
    background-color: #d1d9e6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 250px; /* Đảm bảo không bị chồng lên Sidebar */
    right: 0;
    z-index: 1000;
}



.navbar-left {
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    margin-right: 20px;
}

.search-box {
    display: block;
    align-items: center;
    background: white;
    border-radius: 20px;
    padding: 5px 70px;
    margin-left: 550px;
}

.search-icon {
    color: gray;
    margin-right: 5px;
}

.search-box input {
    border: none;
    outline: none;
    width: 250px;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 15px;
    cursor: pointer;
}

.user-info {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 30px;
    margin-right: 20px;
}

.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
