/* Sidebar.css */
.sidebar {
    width: 250px; /* Đảm bảo độ rộng sidebar đủ để chứa logo */
    height: 100vh; /* Chiếm toàn bộ chiều cao */
    position: fixed; /* Giữ sidebar cố định */
    top: 0;
    left: 0;
    background-color: white;
    padding: 10px 0;
    border-radius: 7px;
}

.logo-container {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-logo {
    max-width: 80%; /* Đảm bảo logo có kích thước hợp lý */
    height: auto;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

    .sidebar ul li {
        padding: 16px 10px;
        cursor: pointer;
        color: #5D7285;
        font-family: 'Segoe UI';
    }

        .sidebar ul li:hover {
            background: #bbcfe3;
        }
.logout-button {
    background-color: #f44336; /* Màu đỏ */
    color: white;
    border: none;
    padding: 12px;
    text-align: center;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    margin-top: auto; /* Đẩy nút xuống dưới cùng */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

    .logout-button:hover {
        background-color: #d32f2f; /* Màu khi hover */
    }

    .logout-button .icon {
        margin-right: 10px;
    }

