/* SoDoKho.css */
.sodokho-container {
    max-width: 60%;
    margin: 10px auto; /* căn giữa toàn bộ khối */
    text-align: center;
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    background: #fdfdfd;
    padding: 0px 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.sodokho-container2 {
    width: 100% !important;
    max-width: 100% !important;
    margin-left: auto;
    margin-right: auto;
}
.legend {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}

    .legend div {
        display: flex;
        align-items: center;
        gap: 6px;
    }

    h2 {
        margin-top: 50px;
        margin-bottom: 0px;
    }

.box {
    width: 10px;
    height: 20px;
    border-radius: 4px;
    display: inline-block;
}

.green {
    background-color: #b2f2bb;
}

.lightblue {
    background-color: #cfe2ff;
}

.red {
    background-color: #ffa8a8;
}

.kho-wrapper-horizontal {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
}

.kho-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kho-row-items {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 8px;
}

.vitri-cell {
    width: 60px; /* Giảm xuống 1/3 */
    height: 30px;
    line-height: 20px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 10px; /* Cho chữ vừa ô */
    text-align: center;
    color: #000;
    transition: transform 0.2s ease;
}


    .vitri-cell:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

.day-label {
    font-weight: bold;
    margin-bottom: 6px;
}

.area-label {
    font-weight: bold;
    margin: 0px 0px 30px 5px;
}

/* Tooltip style */
.tt-wrapper {
    font-family: Arial, sans-serif;
    font-size: 12px;
    max-width: 220px;
    line-height: 1.4;
}

.tt-header {
    margin-bottom: 6px;
    font-weight: bold;
    color: #f0f0f0;
}

.tt-body {
    margin-top: 4px;
}

.tt-item {
    display: flex;
    justify-content: space-between;
    padding: 2px 0;
    color: #e0e0e0;
}

.note-box {
    border: 1px solid #ccc;
    background: #fdfdfd;
    padding: 0px 5px;
    border-radius: 8px;
    width: 40%;
    margin-left: auto; /* đẩy sang phải */
    margin-top: 0px;
    margin-right: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}


    .note-box h4 {
        margin-bottom: 10px;
        font-size: 16px;
        
    }

.highlighted {
    border: 2px solid orange !important;
    box-shadow: 0 0 6px orange;
}


