.dashboard-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 16%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    padding: 10px 0;
    border-right: 1px solid #ddd;
}

.dashboard-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
    margin-left: 250px; /* Đảm bảo không bị che bởi Sidebar */
}

.main-content {
    padding: 20px;
    margin-top: 60px; /* Đảm bảo không bị Navbar che */
}
